<app-headercomp></app-headercomp> 
<div class="new">
<h1>Department Circular</h1><br><br>
<div class="col-sm-14" id="notif">

    <mat-tab-group color="accent" backgroundColor="accent" id="notif-header">

      <mat-tab label="circular">
        <div class="notif-content-spacing">



          DEPARTMENT CIRCULAR
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>Hello</p>
          <p>elakhiya</p>



        </div>
    </mat-tab>
</mat-tab-group>
</div>
</div>
<app-footer></app-footer>